.cart_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #00CED153;
    backdrop-filter: blur(0.8px);
    z-index: 4;
}

.cart {
    background-color: #fff;
    width: 0;
    box-shadow: -2px 0 4px #0003;
    width: 400px;
    max-width: 85%;
    position: relative;
    animation: openCart 1.5s ease-in-out normal;
    animation-fill-mode: forwards;
}

.cart_close {
    animation: closeCart 1.5s ease-in-out normal;
    animation-fill-mode: forwards;
}

.cart_header {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.cart_header_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart_body {
    padding: 8px;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 42px);
    overflow: hidden;
}

.cart_body_cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart_body_footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cart_body_cupom {
    display: flex;
    width: 100%;
}

.cart_body_cupom input {
    width: 100%;
    padding: 6px;
    outline: none;
}

.cart_body_button {
    display: block;
    background-color: #00ced1;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.cart_body_notice {
    padding-top: 24px;
    text-align: center;
}

.cart_body_footer_address{
 margin-bottom: 6px;
}

.cart_body_footer_freight{
    display: inline-block;
    margin-bottom: 6px;
}

.cart_body_footer_portion{
    display: inline-block;
    margin-left: 4px;
    color: #000a;
    font-size: 12px;
}

@keyframes openCart {
    from {
        width: 0;
    }

    to {
        width: 400px;
    }
}

@keyframes closeCart {
    from {
        width: 400px;
    }

    to {
        width: 0;
    }
}

@media (max-width:525px) {
    @keyframes closeCart {
        from {
            width: 85%;
        }

        to {
            width: 0;
        }
    }
}