.select_container {
    position: relative;
}

.select_title {
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #000e;
}

.select {
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #018B6A;
    color: #018B6A;
    cursor: pointer;
    font-weight: 500;
}

.select_dropdown {
    cursor: pointer;
    position: absolute;
    min-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 4px #018B6A;
    background-color: #fff;
    overflow: hidden;
    z-index: 2;
}

.select_notice {
    position: absolute;
    bottom: -12px;
    font-size: 11px;
    color: #f00;
}

.select_option {
    color: #018B6A;
    border-bottom: 1px solid #018B6A;
    padding: 8px 4px;
    padding-left: 12px;
    font-weight: 500;
}

.select_option:last-child {
    border: none;
}

.select_option_selected {
    background-color: #028968;
    color: #fff;
}

@media (max-width:425px) {
    .select {
        padding:8px;
    }

    .select_dropdown {
        max-height: 96px;
        overflow-y: scroll;
    }

    .select_option {
        padding: 8px;
        padding-left: 12px;
        font-weight: 500;
    }

    .select_title{
        font-size: 15px;
        margin-bottom: 8px;
    }

    .select_notice {
        bottom: -13px;
        font-size: 12px;
    }
}