.card {
    background-color: #fff;
    width: 210px;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 4px #ddd;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 12px #0003;
}

.card_inStock {
    height: 50px;
    width: 50px;
    background-image: url('../../assets/icon.png');
    background-size: cover;
    font-weight: 600;
    position: absolute;
    color: #fff;
    background-color: transparent;
    top: 8px;
    right: 8px;
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_inStock p:first-child{
    margin-top: 10px;
}

.card_img {
    width: 100%;
    max-height: 263px;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    padding: 4px 8px 10px;
}

.card_title {
    text-transform: capitalize;
    font-size: 17px;
}

.card_price {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    text-wrap: nowrap;
    font-weight: bold;
    font-size: 18px;
}

.card_onSale {
    display: inline-block;
    margin-left: 4px;
    margin-top: 3px;
    text-decoration: line-through;
    font-size: 11px;
    color: #0008;
}


.card_price_decimal {
    display: inline-block;
    font-size: 10px;
}

.card_onSale .card_price_decimal {
    display: inline-block;
    text-decoration: line-through;
    font-size: 8px;
}

.card_price_discount_value {
    font-size: 12px;
    color: #f00;
    margin-left: 4px;
}

.discount_color {
    color: #f00 !important;
}

.card_price_offer {
    display: inline-block;
    background-color: #f00;
    color: #fff;
    font-size: 9px;
    margin-left: 3px;
    padding: 4px;
    border-radius: 4px;
}

.card_price_discount {
    display: inline-block;
    color: #f00;
}

.card_portion {
    font-size: 12px;
    color: #888;
}

.card_button {
    cursor: pointer;
    width: 100%;
    padding: 6px 0;
    border-radius: 25px;
    background-color: #00ced1;
    border: none;
    font-weight: 600;
    color: #fff;
}

@media (max-width : 425px) {
    .card {
        width: 49%;
        height: auto;
    }

    .card:hover {
        transform: scale(1.0);
        box-shadow: unset;
    }

    .card_inStock {
        height: 40px;
        width: 40px;
        font-size: 8px;
        top: 3px;
        right: 3px;
    }

    .card_portion {
        font-size: 10px;
    }

    .card_img {
        width: 100%;
        max-height: auto;
        height: auto;
    }
}