.card {
    width: 210px;
    height: auto;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card_img {
    width: 100%;
    border-radius: 8px;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.card_title {
    text-transform: capitalize;
    font-size: 17px;
}

.card_price {
    display: flex;
    font-weight: bold;
}

.card_price_decimal {
    display: inline-block;
    font-size: 12px;
    margin-top: 1px;
}

.card_portion {
    font-size: 12px;
    color: #888;
}

.card_button {
    cursor: pointer;
    width: 100%;
    padding: 6px 0;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #0077ff;
    font-weight: 600;
    color: #0077ff;
}

@media (max-width : 425px) {
    .card {
        width: 48%;
    }

    .card_title {
        font-size: 16px;
    }

    .card_portion {
        font-size: 10px;
    }
}