.product{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_notfound{
    padding: 24px;
    border-radius: 6px;
    text-align: center;
    background-color: #ff5c36;
    color: #fff;
}
.product_notfound_text{
    font-size: 20px;
    margin-bottom: 12px;
}

.product_notfound_button{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 4px;
}