.modal_container {
    max-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00CED173;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: openModal 500ms ease-in-out normal;
    animation-fill-mode: forwards;
    backdrop-filter: blur(0.8px);
}

.close_modal {
    animation: closeModal 500ms ease-in-out normal;
    animation-fill-mode: forwards;
}

.modal {
    height: 485px;
    width: 900px;
    max-width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fefefe;
    padding: 24px;
    border-radius: 12px;
}

.modal_close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.modal_close button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #4A8996;
}

.modal_image {
    flex: 1;
    flex-shrink: 2;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.modal_info {
    flex-shrink: 1;
    flex: 1;
    height: 100%;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.modal_info_name {
    text-transform: capitalize;
}

.modal_info_selects {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modal_info_quantAndAddress {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 12px;
}

.modal_info_quant {
    align-items: center;
}

.modal_info_quant_title {
    font-weight: 500;
    font-size: 13px;
}

.modal_info_quant_buttons {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.modal_info_quant-btn1,
.modal_info_quant-btn2 {
    height: 25px;
    width: 25px;
    padding: 2px;
    border-radius: 50%;
    border: 1px outset #009474;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_info_quant-btn1:active,
.modal_info_quant-btn2:active {
    border: 1px inset #009474;
}

.modal_info_quant_num {
    width: 18px;
    text-align: center;
}

.modal_info_address {
    flex: 2;
}

.modal_info_cupom {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal_info_cupom_lbl {
    font-size: 13px;
    font-weight: 500;
}

.modal_info_cupom_inpt {
    padding: 7px;
    border: 1px solid #018B6A;
    border-radius: 6px;
    outline: none;
    font-weight: bold;
}

.modal_info_values {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal_info_value {
    font-weight: 500;
    font-size: 16px;
}

.modal_info_value_prod {
    display: flex;
    justify-content: space-between;
}

.modal_info_value_price {
    color: #009474;
}

.modal_info_value_finalPrice {
    margin-top: 6px;
    display: block;
}

.modal_info_value_portion {
    font-size: 12px;
    color: #0009;
}

.modal_info_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal_info_button {
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #00ced1;
    color: #fff;
    text-align: center;
}

.modal_info_button_cart {
    background-color: #008285;
}

.modal_soldOff {
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_soldOff_button {
    text-align: center;
    display: block;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background-color: #00ced1;
    color: #fff;
}

@keyframes openModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes closeModal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .modal_image {
        flex: 1.5;
    }
}

@media (max-width: 625px) {
    .modal_container {
        top: 100%;
        bottom: -5px;
        align-items: flex-end;
        animation: openModal 700ms ease-in-out normal;
        animation-fill-mode: forwards;
    }

    .close_modal {
        animation: closeModal 700ms ease-in-out normal;
    }

    .modal_close {
        right: 18px;
    }

    .modal {
        height: auto;
        max-height: 100%;
        overflow-y: scroll;
        max-width: 100%;
        width: 100%;
        padding: 16px;
        gap: 4px;
        flex-direction: column;
    }

    .modal_image {
        flex: 1;
        padding-top: 10px;
        max-width: 100%;
    }

    .modal_info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        padding: 0 24px;
    }

    .modal_info_buttons {
        flex-direction: row;
    }

    .modal_info_button {
        width: 100%;
    }

    @keyframes openModal {
        from {
            top: 100%;
        }

        to {
            top: 0%;
        }
    }

    @keyframes closeModal {
        from {
            top: 0%;
        }

        to {
            top: 100%;
        }
    }
}

@media (max-width: 525px) {
    .modal_close {
        top: 8px;
        right: 12px;
    }

    .modal_image {
        margin-top: 6px;
        max-height: 350px;
    }

    .modal_info {
        flex: 1;
        padding: 0;
        gap: 8px;
        padding-top: 10px;
    }

    .modal_info_selects {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .modal_info_quantAndAddress {
        margin-top: 4px;
    }

    .modal_info_quant_buttons {
        padding: 6px 0;
    }

    .modal_info_colors {
        flex: 2;
    }

    .modal_info_sizes {
        flex: 1;
    }

    .modal_info_cupom {
        max-width: 120px;
    }

    .modal_info_button {
        text-wrap: nowrap;
        flex: 1;
        padding: 12px 10px;
        font-size: 16px;
    }

    .modal_soldOff_card {
        width: 288px;
    }

    .modal_soldOff {
        margin-top: 4px;
        height: auto;
    }
}

@media (max-width: 360px) {
    .modal {
        width: 100%;
        max-width: 100%;
    }

    .modal_image {
        max-height: 360px;
    }

    .modal_soldOff_card {
        padding: 8px;
    }

    .modal_soldOff_card_text {
        font-size: 18px;
    }
}