.modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c0ff7273;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: auto;
    width: 900px;
    max-width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fefefe;
    padding: 24px;
    border-radius: 12px;
}

.modal_close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.modal_close button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #4A8996;
}

.modal_image {
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.modal_info,
.modal_soldOff {
    flex: 1;
    height: 100%;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.modal_info_name {
    text-transform: capitalize;
}

.modal_info_quant {
    display: flex;
}

.modal_info_quant span {
    font-weight: 500;
}

.modal_info_quant_buttons {
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.modal_info_quant-btn1,
.modal_info_quant-btn2 {
    height: 25px;
    width: 25px;
    padding: 2px;
    border-radius: 50%;
    border: 1px outset #009474;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_info_quant-btn1:active,
.modal_info_quant-btn2:active{
    border: 1px inset #009474;
}

.modal_info_quant_num {
    width: 18px;
    text-align: center;
}

.modal_info_value {
    font-weight: 500;
    font-size: 20px;
    margin: 4px 0;
}

.modal_info_value_price {
    color: #009474;
}

.modal_info_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal_info_button {
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #009474;
    color: #fff;
}

.modal_info_button_cart {
    background-color: #4A8996;
}

.modal_soldOff {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_soldOff_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border: 2px solid #f00;
    padding: 24px;
}

.modal_soldOff_card_text {
    font-size: 20px;
    font-weight: 500;
}

.modal_soldOff_card_button {
    padding: 12px;
    border: none;
    font-size: 15px;
    border-radius: 25px;
    background-color: #009474;
    color: #fff;
}

@media (max-width : 768px) {
    .modal_image {
        flex: 1.5;
    }
}

@media (max-width : 625px) {
    .modal_info {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .modal_image {
        padding-top: 10px;
        max-width: 100%;
    }
}

@media (max-width : 525px) {
    .modal_container {
        align-items: flex-end;
        bottom: -5px;
    }

    .modal_close {
        top: 8px;
        right: 8px;
    }

    .modal {
        height: auto;
        width: 100%;
        padding: 16px 16px 24px 16px;
        gap: 4px;
        flex-direction: column;
    }

    .modal_info,
    .modal_soldOff {
        flex: 1;
        padding: 0;
        gap: 10px;
        display: flex;
    }

    .modal_info{
        padding-top: 8px;
    }

    .modal_info_quant {
        margin-top: 0;
    }

    .modal_info_selects {
        display: flex;
        gap: 8px;
    }

    .modal_info_colors {
        flex: 2;
    }

    .modal_info_sizes {
        flex: 1;
    }

    .modal_info_buttons {
        flex-direction: row;
    }

    .modal_info_button {
        padding: 12px 10px;
        font-size: 16px;
    }

    .modal_soldOff_card {
        width: 288px;
    }
}

@media (max-width : 360px) {
    .modal {
        width: 100%;
        max-width: 100%;
    }
}