.search {
    display: flex;
    align-items: center;
    border: 1px solid #00CED1;
    overflow: hidden;
    padding: 4px;
    width: 300px;
    padding-right: 6px;
    gap: 4px;
    border-radius: 8px;
}

.search_button {
    padding: 0;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search_icon {
    color: #0009;
}

.search_text {
    width: 100%;
    padding: 4px;
    border: none;
    font-size: 16px;
    border-right: 2px solid #ddd;
    font-weight: 600;
    outline: none;
}

@media (max-width:500px) {
    .search {
        width: 100%;
        max-width: 340px;
    }

}

@media (max-width:325px) {
    .search {
        width: 96%;
        padding: 5px;
    }

    .search_text {
        font-size: 17px;
    }
}