.app {
    height: 100vh;
    max-width: 100vw;
}

.app_notice {
    top: 70px;
    position: fixed;
    z-index: 3;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.app_notice_text {
    width: fit-content;
    background-color: #00CED1;
    box-shadow: 0 0 2px #0008;
    padding: 8px 32px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;
    text-shadow: 0 0 2px #0008;
}

.app_header {
    height: 80px;
    background-color: #fff;
    display: flex;
    padding-top: 8px;
    box-shadow: 0 0 4px #ccc;
    justify-content: center;
}

.app_header_container {
    height: 70px;
    width: 100%;
    max-width: 985px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.app_header_logoAndSearch {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.app_header_search {
    display: flex;
    align-items: center;
    gap: 24px;
}

.app_header_onSale_txt {
    font-weight: bold;
    color: #000a;
}

.app_header_cartbtn {
    right: 24px;
}

.app_header_cartbtn button {
    position: relative;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.app_header_cartbtn span {
    position: absolute;
    top: 2px;
    right: -6px;
    font-size: 12px;
    background-color: #f00;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
}

.app_logo {
    height: 70px;
}

.app_title {
    text-align: center;
    font-size: 28px;
}

.app_banner {
    margin: 18px auto 0;
    color: #000d;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    max-width: 975px;
}

.app_categories {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.app_header_categories {
    max-width: 985px;
    width: 100%;
    background-color: #F0F0F0;
}

.app_header_categories_button {
    padding: 8px;
    color: #00ced1;
    border: none;
}

.categories_button_selected {
    background-color: #00ced1;
    color: #fff;
}

.app_container {
    margin: 0 auto;
    max-width: 1030px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    gap: 24px 32px;
    flex-wrap: wrap;
    padding: 24px;
}

@media (max-width : 525px) {
    .app_header {
        height: auto;
        padding: 12px 0;
    }

    .app_header_container {
        height: 100%;
        padding: 0 16px;
        flex-direction: column;
    }

    .app_logo {
        position: absolute;
        height: 70px;
        left: 12px;
    }

    .app_header_search {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 70px;
    }

    .app_header_cart {
        right: 12px;
        top: 26px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }

    .app_header_categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
        background-color: transparent;
    }

    .app_header_categories_button {
        padding: 2px;
        background-color: transparent;
        color: #00ced1;
        border: 1px solid #00ced1;
        border-radius: 2px;
        font-size: 14px;
    }

    .categories_button_selected {
        background-color: #00ced1;
        color: #fff;
    }

    .app_title {
        font-size: 24px;
    }

    .app_banner {
        width: auto;
        margin: 12px;
        font-size: 18px;
    }

    .app_container {
        margin-top: 16px;
        gap: 16px 0;
        padding: 12px;
    }

    .app_header_logoAndSearch {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .app_header_onSale_txt {
        text-align: start;
    }
}


@media (max-width : 340px) {
    .app_container {
        gap: 8px;
        padding: 4px;
    }
}